* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeadingFont';
    src: url('./Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ParagraphFont';
    src: url('./Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

html {
    font-size: 120%;
}

body {
    background-color: #151515;
}

header {
    border-bottom: 1px solid #f4cb6b;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151515;
    height: 4rem;
}

header,
footer {
    padding: 1rem 2rem;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    margin: 0 2rem;
}

.home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text,
.contact-details,
footer {
    text-align: center;
}

.about-section,
.projects-section,
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    margin: 0 2rem;
}

.about-skills {
    display: inline-flex;
    justify-content: center;
}

figure {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

h1,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: #d8c084;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    color: #ebd18d;
}

h3 {
    color: #eddfab;
    font-size: 1.25rem;
}

a {
    font-weight: 700;
}

figcaption {
    font-style: italic;
}

nav a {
    font-size: 1rem;
    text-transform: lowercase;
    text-decoration: none;
    padding-right: 1rem;
}

h3 a {
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
nav a {
    font-family: 'HeadingFont', serif;
}

h1,
.name {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

p,
figcaption {
    color: #efe8ae;
}

p,
figcaption,
a {
    font-family: 'ParagraphFont', serif;
    font-size: 1.25rem;
}

footer p {
    color: #d8c084;
    font-size: 1rem;
}

.home-text{
    font-size: 1rem;
}

.name {
    font-size: 3rem;
}

a:link,
.name {
    color: #d6a861;
}

a:visited,
a:hover,
a:active {
    color: #f4cb6b;
}

.profile {
    border-radius: 50%;
    width: 20%;
    height: auto;
    padding-bottom: 1rem;
}

.about-skills img {
    height: 2.5rem;
}

.heading {
    padding: 1rem 0;
}

.heading-content {
    padding: 2rem 0;
}

.web-dev,
.data-science,
.general {
    padding-right: 5rem;
    padding-top: 1.5rem;
}

